<style type="text/css">
	.modal.bottom-sheet {
		max-height: 85% !important;
	}
</style>



<div class="mn-content fixed-sidebar">
    <%= render 'dashboards/header' %>

    <%= render 'dashboards/user_side_nav' %>
    
    <main class="mn-inner inner-active-sidebar">
        <div class="middle-content">

            <div class="row no-m-t no-m-b">
                
                <div class="col s12 m12 l12">
                    <div id="chat-container" style="height: 400px !important; width: 100% !important;"></div>
                </div>

            </div>


            <div class="row no-m-t no-m-b">
                
                <div class="col s12 m12 l12" style="margin-top: 30px;">
                    <div class="card stats-card">
                        <div class="card-content">
                            
                            <span class="card-title">ACTIVITY STREAM</span>
                            
                            <% @streams.each do |stream| %>

                                <div class="card hoverable small">
                                    <div class="card-image">
                                        <img src="http://res.cloudinary.com/coopersandsmith/image/upload/v1470772456/assets/images/ACTIVITY-STREAM-RED.jpg" alt="">
                                        <span class="card-title"><%= stream.title %></span>
                                    </div>
                                    <div class="card-content">
                                        <p><%= stream.body %></p>
                                    </div>
                                    <% if stream.link.present? %>
                                        <div class="card-action">
                                            <%= link_to "CLICK HERE", stream.link, target: "_blank" %>
                                        </div>
                                    <% end %>
                                </div>
                                
                            <% end %>

                    </div>
                </div>
                </div>

            </div>



            <div class="col s12 m12 l12">
                <div id="modal3" class="modal bottom-sheet" style="z-index: 1003; display: block; opacity: 0; bottom: -100%;">
                    <div class="modal-content">
                        <!-- Calendly inline widget begin -->
						
						<div class="calendly-inline-widget" data-url="https://calendly.com/coopers-and-smith" style="min-width:320px;height:580px;"></div>
						<style type="text/css">
							.branding {
								display: none !important;
							}
						</style>
						<script type="text/javascript" src="https://calendly.com/assets/external/widget.js"></script>
						
						<!-- Calendly inline widget end -->
                    </div>
                </div>
            </div>
           

    </div>


        <div class="inner-sidebar">
            <span class="inner-sidebar-title">YOUR BOKKEEPING NINJAS</span>
            <div class="message-list">
            	<div class="info-item message-item"><img class="circle" src="http://res.cloudinary.com/coopersandsmith/raw/upload/assets/images/profile-image-2.png" alt=""><div class="message-info"><div class="message-author">Ned Flanders</div></div></div>
            	<div class="info-item message-item"><img class="circle" src="http://res.cloudinary.com/coopersandsmith/raw/upload/assets/images/profile-image.png" alt=""><div class="message-info"><div class="message-author">Peter Griffin</div></div></div>
            	<div class="info-item message-item"><img class="circle" src="http://res.cloudinary.com/coopersandsmith/raw/upload/assets/images/profile-image-1.png" alt=""><div class="message-info"><div class="message-author">Lisa Simpson</div></div></div>
            </div>
            <span class="inner-sidebar-title">Events</span>
            <span class="info-item">Envato meeting<span class="new badge">12</span></span>
            <div class="inner-sidebar-divider"></div>
            <span class="info-item">Google I/O</span>
            <div class="inner-sidebar-divider"></div>
            <span class="info-item disabled">No more events scheduled</span>
            <div class="inner-sidebar-divider"></div>
            
            
            
        </div>
    </main>
</div>
<div class="left-sidebar-hover"></div>



<!-- Javascripts -->
<script src="http://res.cloudinary.com/coopersandsmith/raw/upload/assets/plugins/jquery/jquery-2.2.0.min.js"></script>
<script src="http://res.cloudinary.com/coopersandsmith/raw/upload/assets/plugins/materialize/js/materialize.min.js"></script>
<script src="http://res.cloudinary.com/coopersandsmith/raw/upload/assets/plugins/material-preloader/js/materialPreloader.min.js"></script>
<script src="http://res.cloudinary.com/coopersandsmith/raw/upload/assets/plugins/jquery-blockui/jquery.blockui.js"></script>
<script src="http://res.cloudinary.com/coopersandsmith/raw/upload/assets/plugins/waypoints/jquery.waypoints.min.js"></script>
<script src="http://res.cloudinary.com/coopersandsmith/raw/upload/assets/plugins/counter-up-master/jquery.counterup.min.js"></script>
<script src="http://res.cloudinary.com/coopersandsmith/raw/upload/assets/plugins/jquery-sparkline/jquery.sparkline.min.js"></script>
<script src="http://res.cloudinary.com/coopersandsmith/raw/upload/assets/plugins/flot/jquery.flot.min.js"></script>
<script src="http://res.cloudinary.com/coopersandsmith/raw/upload/assets/plugins/flot/jquery.flot.time.min.js"></script>
<script src="http://res.cloudinary.com/coopersandsmith/raw/upload/assets/plugins/flot/jquery.flot.symbol.min.js"></script>
<script src="http://res.cloudinary.com/coopersandsmith/raw/upload/assets/plugins/flot/jquery.flot.resize.min.js"></script>
<script src="http://res.cloudinary.com/coopersandsmith/raw/upload/assets/plugins/flot/jquery.flot.tooltip.min.js"></script>
<script src="http://res.cloudinary.com/coopersandsmith/raw/upload/assets/plugins/curvedlines/curvedLines.js"></script>
<script src="http://res.cloudinary.com/coopersandsmith/raw/upload/assets/plugins/peity/jquery.peity.min.js"></script>
<script src="http://res.cloudinary.com/coopersandsmith/raw/upload/assets/js/alpha.min.js"></script>
<script src="http://res.cloudinary.com/coopersandsmith/raw/upload/assets/js/pages/dashboard.js"></script>



<script src="https://cdn.smooch.io/smooch.min.js"></script>
<script>
    Smooch.init({ 
        appToken: 'baneldq1bdmnk7rb17c5p9vrk',
        userId: "<%= current_user.id %>",
        embedded: true,
        emailCaptureEnabled: true
    })
	  .then(function() {
	    Smooch.updateUser({
	      givenName: "<%= current_user.company_name %>",
	      email: "<%= current_user.email %>",
	      signedUpAt: "<%= current_user.created_at"
	    })   
	  });

    Smooch.render(document.getElementById('chat-container'));
</script> 