<%= render 'layouts/loader' %>

<div class="mn-content valign-wrapper signup-page ">
    <main class="mn-inner container ">
        <div class="valign">
              <div class="row">
                  <div class="col s12 m6 l4 offset-l4 offset-m3">
                      <div class="card white darken-1">
                          <div class="card-content ">
                              <span class="card-title">Sign Up</span>
                               <div class="row">
                                   <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                                      <%= f.error_notification %>

                                        <div class="input-field col s12">
                                          <%= f.input :company_name, required: true, autofocus: true, id: "name" %>
                                        </div>

                                        <div class="input-field col s12">
                                          <%= f.input :email, required: true, id: "email" %>
                                        </div>

                                        <div class="input-field col s12">
                                          <%= f.input :password, required: true, id: "password", hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
                                        </div>

                                        <div class="input-field col s12">
                                          <%= f.input :password_confirmation, required: true, id: "password2" %>
                                        </div>
                                      

                                      <div class="col s12 right-align m-t-sm">
                                        <%= f.button :submit, "Sign Up", class: "waves-effect waves-light btn teal" %>
                                        <br>
                                        <%= render "users/shared/links" %>
                                      </div>
                                    <% end %>
                              </div>
                          </div>
                      </div>
                  </div>
            </div>
        </div>
    </main>
</div>

<!-- Javascripts -->
<script src="http://res.cloudinary.com/coopersandsmith/raw/upload/assets/plugins/jquery/jquery-2.2.0.min.js"></script>
<script src="http://res.cloudinary.com/coopersandsmith/raw/upload/assets/plugins/materialize/js/materialize.min.js"></script>
<script src="http://res.cloudinary.com/coopersandsmith/raw/upload/assets/plugins/material-preloader/js/materialPreloader.min.js"></script>
<script src="http://res.cloudinary.com/coopersandsmith/raw/upload/assets/plugins/jquery-blockui/jquery.blockui.js"></script>
<script src="http://res.cloudinary.com/coopersandsmith/raw/upload/assets/js/alpha.min.js"></script>